body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#quiz, #results {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#answers-container button {
    display: block;
    margin: 5px auto;
    width: 200px;
}

#next-btn, #restart-btn {
    background-color: #0073e6;
    color: white;
}

#next-btn:hover, #restart-btn:hover {
    background-color: #005bb5;
}
